body {
    font-family: 'Alegreya Sans SC', 'serif';
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_links a, a:visited {
    color: blue;
}


.card header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 450px;
}

.card {
    flex-basis: 450px;
}

#image1, #image2, #image3, #image4, #image5 {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logo {
    animation-name: enlarge;
    animation-duration: 5s;  
}

@keyframes enlarge {
    from {
        width: 50px;
        opacity: 0;
    }

    to {
        width: 425px;
        opacity: 1;
    }
}


@media screen and (min-width: 850px) {
    header {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    body > header {
        position: sticky;
        top: 0;
    }

    .card {
        flex-basis: 250px;
    }

}

@media (prefers-reduced-motion) {
    #logo {
        animation-name: dissolve;
    }
}


@media print {
    body {
        background-image: none;
    }

    body > header {
        display: flex;
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 250px;
    }

    #gallery, .gallery {
        display: none;
    }

    main li:nth-last-of-type(odd):before {
        content: '\1F44D';
    }

    main li:nth-last-of-type(even):after {
        content: '\1F44D';
    }
}

